.generic-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.generic-modal form h3 {
  margin-bottom: 1rem;
}

.generic-modal form h3,
.input-register-container label {
  font-weight: 700;
  color: #4361ee;
}

.input-register-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1rem;
}