.visit-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35.2rem;
  height: 55rem;
  padding: 0 1.5rem;
  border-radius: 0.8rem;
  overflow-y: auto;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-icon-title {
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.visit-order-container h3 {
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
  font-weight: 700;
  color: #4361ee;
}

.ordered-clients-container {
  width: 100%;
}

.place-container {
  display: flex;
  border-top: 2px solid #7b7575;
}

.place-container h3 {
  color: #7209B7;
  margin-right: 2rem;
}

.client-and-coord {
  margin-bottom: 1rem;
}

.client-and-coord h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
}

.client-and-coord span {
  color: #4361ee;
  font-weight: 700;
}

.no-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.2rem;
  height: 9rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
  position: relative;
}

.no-clients h4 {
  text-align: center;
  color: #4361ee;
}


.Toastify__close-button {
  all: unset;
}

.Toastify__close-button:hover {
  background-color: unset;
  box-shadow: none;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: #4361EE !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--success {
  font-weight: 700;
}