.main-home {
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  align-items: center;
}

.body-home {
  border-bottom-right-radius: 100rem;
  min-height: 100vh;
  background-color: #e6e6e6a8;
}

.home-table-container {
  width: 100rem;
  min-width: 35.5rem;
  margin: 0 1.5rem;
}

.home-button-container {
  display: flex;
  gap: 1rem;
}

.img-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-button img {
  width: 2.2rem;
}

.home-table {
  margin-bottom: 5rem;
  padding-top: 0rem;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 38rem
}

.home-table table {
  min-width: 90rem;
  border-collapse: collapse;
  position: relative;
}

.home-table table thead {
  height: 5rem;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.home-table table thead th {
  padding: 0rem 1rem;
  text-align: start;
  font-size: 1.8rem;
  color: #4361ee;
}

.home-table tbody td {
  width: 30rem;
  text-align: start;
  padding: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #7b7575;
  word-break: break-all;
  border-top: 1px solid #E6E6E6;
}

.home-table tbody td span {
  font-weight: 900;
  color: #4361ee;
}